
.dropdown{
    max-width: 15em;
    width: 20%;
    min-width:11em;
    position:relative;
    margin:2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select{
    color: #4C3324FF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ded2c0;
    border-radius: 0.5em;
    padding:1em;
    cursor:pointer;
    transition:background 0.3s;
}

.select-clicked{
    background: #F2EFE9;
    box-shadow: 0 0 0.8em #ded2c0;
}

.select:hover{
    background: #ded2c0;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent ;
    border-top: 6px solid #000;
    transition:0.3s;
}

.caret-rotate{
    transform:rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #f0ede8;
    border:1px rgba(161, 110, 71, 0.67) solid;
    border-radius: 0.5em;
    color: #4c3324;
    position:absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index:1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin:0.3em;
    border-radius: 0.5em;
    cursor:pointer;
}

.menu li:hover{
    background: rgba(161, 110, 71, 0.45);
}


.active{
    background: rgba(161, 110, 71, 0.67);
}

.menu-open{
    display:block;
    opacity: 1;
}
