
#menu > h1{
    grid-column: 1/4;
    height:5vm;
    font-family: "Playfair Display", serif;
    /* Or use any other serif font that complements the style of the restaurant */
    font-size: 36px;
    /* Adjust the font size as needed */
    font-weight: bold;
    color: #9F7652;

}

#menu > div{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 4%;
    max-height: 389px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #444444;
    border-left: 1px solid #9F7652;
    margin-bottom:6%;
}


.price{
    text-align: left;
    height: 30%;
    font-size:medium ;
}

.name{
    height:30%;
    font-size: larger;
    color: #3F3F3F;
}

.description{
    height: 70%;
    font-size: small;
    color: #444444;
}

@media all and (max-width: 800px){
    #menu{
        display:inline-grid;
        grid-template-columns: auto auto;

    }
}

