#orderOnline1{
    width:100%;
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction:column;
    background: #ffffff;
    font-family: "Open Sans", sans-serif;
}

#orderOnline1 p{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width:60%;
    text-align: center;
    font-size: 100px;
    color: #242124;
    font-family: "Brush Script MT";
}

#orderOnline1 ul{
    display: flex;
    flex-direction: column;
    margin-top:0px;
    padding-right:40px;
}

#orderOnline1 li{
    margin-bottom: 10px;
}

#uber{
    margin-bottom: 0px;
}



#orderOnline1 a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight:500;
    font-size: 5vw;
    transition: 0.5s;
}

#orderOnline1 a:hover {
    font-size: 12vh;
    transition: 1s;
}

@media all and (max-width: 1000px) {
    #orderOnline1 ul{
        display: flex;
        flex-direction: column;
    }

    #orderOnline1 p{
        width:100%;
        font-size: 80px;
    }

    #orderOnline1 a{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:80%;
        text-align: center;
        font-size: 10vw;
    }

    #orderOnline1 img{
        width:240px;
    }

    #skip img{
        width: 200px;
    }

    #uber img{
        width:110px;
    }

    #orderOnline1 a:hover{
        font-size: 12vh;
    }

}
